<div class='big_data_item' data-model='big_data_item'>
  Name:<input name='name' data-name='name' type='text'><br />
  Birthday:<input name='birthday' data-name='birthday' type='date'><br />
  Time:<input name='birthtime' data-name='birthtime' type='time'><br />
  Favorite Car:<select name='favorite_car'>
                 <option value="honda">Honda</option>
                 <option value="mercedes">Mercedes</option>
                 <option value="bmw">BMW</option>
               </select><br />
  Like sushi?<input type="radio" name="sushi" value="yes">Yes 
              <input type="radio" name="sushi" value="no">No<br>
  Drink<input type="checkbox" name="drink" value="Beer">Beer
       <input type="checkbox" name="drink" value="Wine">Wine
       <input type="checkbox" name="drink" value="Coke">Coke<br>

  <button name='submit'>submit</button>
</div>